.icon {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  color: $colorSecondary;

  &-fav {
    background-image: url(images/icons/favourites.svg);
  }

  &-cart {
    background-image: url(images/icons/cart.svg);
  }

  &-close {
    background-image: url(images/icons/close.svg);
  }

  &-menu {
    background-image: url(images/icons/menu.svg);
  }
}
