:root {
  --header-top-height: 48px;
}

$colorPrimary: #313237;
$colorSecondary: #89939a;
$colorIcons: #b4bdc3;
$colorElements: #e2e6e9;
$colorHoverBG: #fafbfc;
$colorWhite: #fff;
$colorGreen: #27ae60;
$colorRed: #eb5757;
